body {
    background-color: #F8F7FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.owl {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    margin: 0;
}

table, th, td {
    border: 1px solid gray;
    margin: 0 auto;
  }

.cabbage {
    color:chartreuse;
}